{% render 'partials/head.liquid' %}

<article class="error">
    <h1>Error 404</h1>

    <h2>Uh-oh. Deze pagina hebben we niet kunnen vinden</h2>

    <a href="/buddy/Penguin">Ga naar de penguin</a>

</article>