{% render 'partials/head.liquid' %}

<section>
        <div class="button-menu">
          
            <div>
              <a href="" alt="ga_naar_testing">
                <button class="testing"><img class="iconen-menu" src="puzzle-piece.svg"/></button>
                <h2>Testing</h2>
              </a>
            </div>

            <div>
              <a href="" alt="ga_naar_lessons">
                <button class="lessons"><img class="iconen-menu" src="book.svg"/></button>
                <h2>Lessons</h2>
              </a>
            </div>

            <div>
              <a href="" alt="ga_naar_home">
                <button class="home"><img class="iconen-menu" src="house.svg"/></button>
                <h2>Home</h2>
              </a>
            </div>

            <div>
              <a href="" alt="ga_naar_statistics">
                <button class="statistics"><img class="iconen-menu" src="statistics.svg"/></button>
                <h2>statistics</h2>
              </a>
            </div>

            <div>
              <a href="" alt="ga_naar_profile">
                <button class="profile"><img class="iconen-menu" src="/docs/images/statistics.svg"/></button>
                <h2>Profile</h2>
              </a>
            </div>
          </div>
      </section>
    </section>
    
    <section class="knop">
            
        <div class="grafiek">
        <div class="eerste-bar"></div>
        <div class="tweede-bar"></div>
        <div class="derde-bar"></div>
        </div>
        <div class="horizontale-bar"></div>
        </section>

        <section class="knop">

        <div class="puzzelstuk">
        <div class="vierkant"></div>
        </div> 

        </section>

        <section class="knop">

        <div class="boek">
        <div class="kaft"></div>
        <div class="pagina-links"></div>
        </div> 

    </section>


    <h1>{{ user.email }}</h1>
    <p>{{ user.name }}</p>