.active{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}

.error{
    text-align: center;

    h1{
        color: red;
    }
}

video::cue{
    color: red;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}